body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2597px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u32273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2576px;
  height:902px;
}
#u32273 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:0px;
  width:2576px;
  height:902px;
  display:flex;
}
#u32273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2343px;
  height:1838px;
}
#u32274 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:930px;
  width:2343px;
  height:1838px;
  display:flex;
}
#u32274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
