body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2219px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u25048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:1018px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u25048 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:61px;
  width:1360px;
  height:1018px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u25048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u25049 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:186px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u25049 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25049_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.898039215686275);
}
#u25052 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:95px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.898039215686275);
}
#u25052 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25052_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(37, 97, 239, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25053 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:97px;
  width:6px;
  height:20px;
  display:flex;
}
#u25053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1321px;
  height:2px;
}
#u25054 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:139px;
  width:1320px;
  height:1px;
  display:flex;
}
#u25054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u25055 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:157px;
  width:1200px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:40px;
}
#u25055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25055_img.selected {
}
#u25055.selected {
}
#u25055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25056 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:207px;
  width:1200px;
  height:164px;
}
#u25057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u25057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u25057 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u25058 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:480px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u25059 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25059 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u25060 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:480px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u25062 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25063 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:32px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u25063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25064 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:32px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25064 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25065 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:32px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u25065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25066 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25067 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:72px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u25067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25069 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:72px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25069 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25070 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:72px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u25070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
}
#u25071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:120px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25071 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:52px;
}
#u25072 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:112px;
  width:480px;
  height:52px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
}
#u25074 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:112px;
  width:120px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25074 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:52px;
}
#u25075 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:112px;
  width:480px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u25077 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:694px;
  width:1200px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:40px;
}
#u25077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25077_img.selected {
}
#u25077.selected {
}
#u25077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u25078 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:871px;
  width:1200px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:40px;
}
#u25078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25078_img.selected {
}
#u25078.selected {
}
#u25078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25079 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:751px;
  width:961px;
  height:92px;
}
#u25080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u25080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25080 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
}
#u25081 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:161px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u25082 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:0px;
  width:119px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u25083 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u25084 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:119px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:28px;
}
#u25085 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:0px;
  width:362px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u25086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:32px;
}
#u25087 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:28px;
  width:161px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u25089 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:28px;
  width:119px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u25089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u25090 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:28px;
  width:100px;
  height:32px;
  display:flex;
}
#u25090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u25091 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:28px;
  width:119px;
  height:32px;
  display:flex;
}
#u25091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:32px;
}
#u25092 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:28px;
  width:362px;
  height:32px;
  display:flex;
}
#u25092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u25093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:32px;
}
#u25094 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:161px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u25096 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:60px;
  width:119px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u25096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u25097 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:60px;
  width:100px;
  height:32px;
  display:flex;
}
#u25097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u25098 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:60px;
  width:119px;
  height:32px;
  display:flex;
}
#u25098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:32px;
}
#u25099 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:60px;
  width:362px;
  height:32px;
  display:flex;
}
#u25099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25100 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:932px;
  width:1122px;
  height:92px;
}
#u25101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u25101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:28px;
}
#u25102 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:160px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
}
#u25103 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:0px;
  width:161px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u25104 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:0px;
  width:119px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
}
#u25105 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:65px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:28px;
}
#u25106 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:0px;
  width:160px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
}
#u25107 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:0px;
  width:95px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u25108 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:0px;
  width:107px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:28px;
}
#u25109 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:0px;
  width:155px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u25110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u25111 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:28px;
  width:160px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
  text-align:left;
}
#u25111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:32px;
}
#u25112 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:28px;
  width:161px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u25113 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:28px;
  width:119px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u25114 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:28px;
  width:65px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u25115 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:28px;
  width:160px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u25116 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:28px;
  width:95px;
  height:32px;
  display:flex;
}
#u25116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u25117 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:28px;
  width:107px;
  height:32px;
  display:flex;
}
#u25117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u25118 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:28px;
  width:155px;
  height:32px;
  display:flex;
}
#u25118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u25119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u25120 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:160px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
  text-align:left;
}
#u25120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:32px;
}
#u25121 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:60px;
  width:161px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u25123 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:60px;
  width:119px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u25124 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:60px;
  width:65px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u25125 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:60px;
  width:160px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u25126 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:60px;
  width:95px;
  height:32px;
  display:flex;
}
#u25126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u25127 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:60px;
  width:107px;
  height:32px;
  display:flex;
}
#u25127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u25128 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:60px;
  width:155px;
  height:32px;
  display:flex;
}
#u25128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25129 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:104px;
  width:91px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:655px;
}
#u25130 {
  border-width:0px;
  position:absolute;
  left:1420px;
  top:182px;
  width:799px;
  height:655px;
  display:flex;
}
#u25130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25131 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:469px;
  width:1200px;
  height:202px;
}
#u25132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u25132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u25132 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u25133 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:480px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u25134 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25134 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u25135 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:480px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u25136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:120px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u25136 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:38px;
}
#u25137 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:32px;
  width:480px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u25138 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:32px;
  width:120px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25138 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:38px;
}
#u25139 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:32px;
  width:480px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u25140 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25141 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:70px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u25141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25142 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:70px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25142 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25143 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:70px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u25143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25144 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25145 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:110px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u25145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25146 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:110px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25146 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25147 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:110px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u25147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
}
#u25148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:120px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25148 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:52px;
}
#u25149 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:150px;
  width:480px;
  height:52px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
}
#u25151 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:150px;
  width:120px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25151 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:52px;
}
#u25152 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:150px;
  width:480px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u25154 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:396px;
  width:1200px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:40px;
}
#u25154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25154_img.selected {
}
#u25154.selected {
}
#u25154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25155 {
  position:fixed;
  left:50%;
  margin-left:-75px;
  top:50%;
  margin-top:-55px;
  visibility:hidden;
}
#u25155_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:110px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25155_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25157_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:160px;
  height:120px;
}
#u25157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:110px;
  display:flex;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u25157 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u25158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  height:45px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u25158 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 15px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u25158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
