body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2219px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u25202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:1018px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u25202 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:61px;
  width:1360px;
  height:1018px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u25202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u25203 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:186px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u25203 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25203_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.898039215686275);
}
#u25206 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:95px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.898039215686275);
}
#u25206 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25206_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(37, 97, 239, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25207 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:97px;
  width:6px;
  height:20px;
  display:flex;
}
#u25207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1321px;
  height:2px;
}
#u25208 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:139px;
  width:1320px;
  height:1px;
  display:flex;
}
#u25208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u25209 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:157px;
  width:1200px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:40px;
}
#u25209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25209_img.selected {
}
#u25209.selected {
}
#u25209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25210 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:207px;
  width:1200px;
  height:164px;
}
#u25211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u25211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u25211 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u25212 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:480px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u25213 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25213 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u25214 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:480px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u25216 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25217 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:32px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u25217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25218 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:32px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25218 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25219 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:32px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u25219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25220 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25221 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:72px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u25221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25223 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:72px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25223 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25224 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:72px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u25224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
}
#u25225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:120px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25225 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:52px;
}
#u25226 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:112px;
  width:480px;
  height:52px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
}
#u25228 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:112px;
  width:120px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25228 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:52px;
}
#u25229 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:112px;
  width:480px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u25231 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:694px;
  width:1200px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:40px;
}
#u25231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25231_img.selected {
}
#u25231.selected {
}
#u25231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u25232 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:871px;
  width:1200px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:40px;
}
#u25232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25232_img.selected {
}
#u25232.selected {
}
#u25232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25233 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:751px;
  width:961px;
  height:92px;
}
#u25234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u25234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
}
#u25235 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:161px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u25236 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:0px;
  width:119px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u25237 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u25238 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:119px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:28px;
}
#u25239 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:0px;
  width:362px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u25240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:32px;
}
#u25241 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:28px;
  width:161px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u25243 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:28px;
  width:119px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u25243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u25244 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:28px;
  width:100px;
  height:32px;
  display:flex;
}
#u25244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u25245 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:28px;
  width:119px;
  height:32px;
  display:flex;
}
#u25245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:32px;
}
#u25246 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:28px;
  width:362px;
  height:32px;
  display:flex;
}
#u25246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u25247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:32px;
}
#u25248 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:161px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u25250 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:60px;
  width:119px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u25250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u25251 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:60px;
  width:100px;
  height:32px;
  display:flex;
}
#u25251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u25252 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:60px;
  width:119px;
  height:32px;
  display:flex;
}
#u25252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:32px;
}
#u25253 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:60px;
  width:362px;
  height:32px;
  display:flex;
}
#u25253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25254 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:932px;
  width:1122px;
  height:92px;
}
#u25255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u25255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:28px;
}
#u25256 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:160px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
}
#u25257 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:0px;
  width:161px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u25258 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:0px;
  width:119px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
}
#u25259 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:65px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:28px;
}
#u25260 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:0px;
  width:160px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
}
#u25261 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:0px;
  width:95px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u25262 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:0px;
  width:107px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:28px;
}
#u25263 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:0px;
  width:155px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u25264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u25265 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:28px;
  width:160px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
  text-align:left;
}
#u25265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:32px;
}
#u25266 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:28px;
  width:161px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u25267 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:28px;
  width:119px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u25268 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:28px;
  width:65px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u25269 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:28px;
  width:160px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u25270 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:28px;
  width:95px;
  height:32px;
  display:flex;
}
#u25270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u25271 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:28px;
  width:107px;
  height:32px;
  display:flex;
}
#u25271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u25272 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:28px;
  width:155px;
  height:32px;
  display:flex;
}
#u25272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u25273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u25274 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:160px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
  text-align:left;
}
#u25274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:32px;
}
#u25275 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:60px;
  width:161px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u25277 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:60px;
  width:119px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u25278 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:60px;
  width:65px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u25279 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:60px;
  width:160px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u25280 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:60px;
  width:95px;
  height:32px;
  display:flex;
}
#u25280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u25281 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:60px;
  width:107px;
  height:32px;
  display:flex;
}
#u25281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u25282 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:60px;
  width:155px;
  height:32px;
  display:flex;
}
#u25282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25283 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:104px;
  width:91px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:655px;
}
#u25284 {
  border-width:0px;
  position:absolute;
  left:1420px;
  top:182px;
  width:799px;
  height:655px;
  display:flex;
}
#u25284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25285 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:469px;
  width:1200px;
  height:202px;
}
#u25286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u25286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u25286 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u25287 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:480px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u25288 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25288 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u25289 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:480px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u25290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:120px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u25290 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:38px;
}
#u25291 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:32px;
  width:480px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u25292 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:32px;
  width:120px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25292 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:38px;
}
#u25293 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:32px;
  width:480px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u25294 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25295 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:70px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u25295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25296 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:70px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25296 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25297 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:70px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u25297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25298 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25299 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:110px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u25299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25300 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:110px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25300 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u25301 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:110px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u25301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
}
#u25302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:120px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25302 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:52px;
}
#u25303 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:150px;
  width:480px;
  height:52px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
}
#u25305 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:150px;
  width:120px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u25305 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:52px;
}
#u25306 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:150px;
  width:480px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u25306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u25306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u25308 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:396px;
  width:1200px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:40px;
}
#u25308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25308_img.selected {
}
#u25308.selected {
}
#u25308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25309 {
  position:fixed;
  left:50%;
  margin-left:-75px;
  top:50%;
  margin-top:-55px;
  visibility:hidden;
}
#u25309_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:110px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25309_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25311_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:160px;
  height:120px;
}
#u25311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:110px;
  display:flex;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u25311 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u25312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u25312 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 15px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u25312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
