body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2566px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u55144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2488px;
  height:942px;
}
#u55144 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1005px;
  width:2488px;
  height:942px;
  display:flex;
}
#u55144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2520px;
  height:1130px;
}
#u55145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:2520px;
  height:1130px;
  display:flex;
}
#u55145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2548px;
  height:1161px;
}
#u55146 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1947px;
  width:2548px;
  height:1161px;
  display:flex;
}
#u55146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2534px;
  height:1150px;
}
#u55147 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:3108px;
  width:2534px;
  height:1150px;
  display:flex;
}
#u55147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2520px;
  height:1161px;
}
#u55148 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:4258px;
  width:2520px;
  height:1161px;
  display:flex;
}
#u55148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
