body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u21175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u21176 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:888px;
  width:181px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#CCCCCC;
}
#u21176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21176_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u21176.mouseOver {
}
#u21176_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21177 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:905px;
  width:100px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:813px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21178 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:55px;
  width:1360px;
  height:813px;
  display:flex;
}
#u21178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(37, 97, 239, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u21180 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:796px;
  width:80px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u21180 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21180_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(37, 97, 239, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u21180.mouseOver {
}
#u21180_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 51, 204, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u21180.mouseDown {
}
#u21180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1321px;
  height:2px;
}
#u21181 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:775px;
  width:1320px;
  height:1px;
  display:flex;
}
#u21181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u21183 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:144px;
  width:117px;
  height:32px;
  display:flex;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u21183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21183_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:591px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21185 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:144px;
  width:1006px;
  height:591px;
  display:flex;
}
#u21185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:2px;
}
#u21186 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:184px;
  width:1006px;
  height:1px;
  display:flex;
}
#u21186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u21187 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:156px;
  width:13px;
  height:15px;
  display:flex;
}
#u21187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21187_img.mouseOver {
}
#u21187.mouseOver {
}
#u21187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
}
#u21188 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:156px;
  width:12px;
  height:15px;
  display:flex;
}
#u21188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21188_img.mouseOver {
}
#u21188.mouseOver {
}
#u21188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u21189 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:156px;
  width:17px;
  height:15px;
  display:flex;
}
#u21189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21189_img.mouseOver {
}
#u21189.mouseOver {
}
#u21189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21190 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:156px;
  width:15px;
  height:15px;
  display:flex;
}
#u21190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21190_img.mouseOver {
}
#u21190.mouseOver {
}
#u21190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u21191 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:156px;
  width:10px;
  height:15px;
  display:flex;
}
#u21191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21191_img.mouseOver {
}
#u21191.mouseOver {
}
#u21191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u21192 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:156px;
  width:13px;
  height:15px;
  display:flex;
}
#u21192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21192_img.mouseOver {
}
#u21192.mouseOver {
}
#u21192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u21193 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:156px;
  width:17px;
  height:15px;
  display:flex;
}
#u21193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21193_img.mouseOver {
}
#u21193.mouseOver {
}
#u21193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21194 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:156px;
  width:15px;
  height:15px;
  display:flex;
}
#u21194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21194_img.mouseOver {
}
#u21194.mouseOver {
}
#u21194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21195 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:156px;
  width:15px;
  height:15px;
  display:flex;
}
#u21195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21195_img.mouseOver {
}
#u21195.mouseOver {
}
#u21195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21196 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:156px;
  width:15px;
  height:15px;
  display:flex;
}
#u21196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21196_img.mouseOver {
}
#u21196.mouseOver {
}
#u21196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u21197 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:157px;
  width:15px;
  height:14px;
  display:flex;
}
#u21197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21197_img.mouseOver {
}
#u21197.mouseOver {
}
#u21197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u21198 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:156px;
  width:18px;
  height:15px;
  display:flex;
}
#u21198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21198_img.mouseOver {
}
#u21198.mouseOver {
}
#u21198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u21199 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:155px;
  width:17px;
  height:17px;
  display:flex;
}
#u21199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21199_img.mouseOver {
}
#u21199.mouseOver {
}
#u21199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u21200 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:156px;
  width:16px;
  height:15px;
  display:flex;
}
#u21200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21200_img.mouseOver {
}
#u21200.mouseOver {
}
#u21200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21201 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:156px;
  width:15px;
  height:15px;
  display:flex;
}
#u21201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21201_img.mouseOver {
}
#u21201.mouseOver {
}
#u21201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u21202 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:156px;
  width:17px;
  height:15px;
  display:flex;
}
#u21202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21202_img.mouseOver {
}
#u21202.mouseOver {
}
#u21202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u21203 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:156px;
  width:17px;
  height:15px;
  display:flex;
}
#u21203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21203_img.mouseOver {
}
#u21203.mouseOver {
}
#u21203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21204 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:156px;
  width:15px;
  height:15px;
  display:flex;
}
#u21204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21204_img.mouseOver {
}
#u21204.mouseOver {
}
#u21204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21205 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:156px;
  width:15px;
  height:15px;
  display:flex;
}
#u21205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21205_img.mouseOver {
}
#u21205.mouseOver {
}
#u21205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.898039215686275);
}
#u21208 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:75px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.898039215686275);
}
#u21208 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21208_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(37, 97, 239, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21209 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:77px;
  width:6px;
  height:20px;
  display:flex;
}
#u21209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1321px;
  height:2px;
}
#u21210 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:119px;
  width:1320px;
  height:1px;
  display:flex;
}
#u21210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21211 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:122px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21211 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21211_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21212 {
  position:fixed;
  left:50%;
  margin-left:-75px;
  top:40px;
  visibility:hidden;
}
#u21212_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21212_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 6px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 0px 6px rgba(204, 204, 204, 1);
  box-shadow:0px 0px 6px rgba(204, 204, 204, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u21213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u21213 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 54px;
  box-sizing:border-box;
  width:100%;
}
#u21213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21214 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:20px;
  height:20px;
  display:flex;
}
#u21214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
