body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2443px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u21455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1805px;
  height:698px;
}
#u21455 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:44px;
  width:1805px;
  height:698px;
  display:flex;
}
#u21455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2059px;
  height:2229px;
}
#u21456 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:865px;
  width:2059px;
  height:2229px;
  display:flex;
}
#u21456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u21457 {
  border-width:0px;
  position:absolute;
  left:1857px;
  top:243px;
  width:586px;
  height:72px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u21457 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21457_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
