.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.checkbox {
  text-align:left;
}
.box_2 {
}
.text_link {
  color:#0000FF;
}
.box_3 {
}
.ellipse {
}
.image {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
._形状 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
._一级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接 {
}
._鼠标按下文本链接 {
}
.line {
}
.arrow {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.menu_item {
}
._直线___行距 {
}
.snapshot {
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.form_disabled {
}
.shape {
}
.icon {
}
.line1 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.shape1 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_21 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.line2 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
}
.refs-chart-data {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
.label1 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._链接按下 {
}
._链接悬停 {
}
._表格 {
}
._默认样式 {
}
._文本链接1 {
  color:#409EFF;
}
._链接悬停1 {
  color:#66B1FF;
}
._链接按下1 {
}
._形状1 {
  color:#333333;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.flow_shape1 {
}
._鼠标按下文本链接时 {
}
._鼠标悬停文本链接时 {
}
.image1 {
  color:#000000;
}
._28号字_页面备注信息及列表的表头说明文字__） {
  font-family:'SourceHanSansSC-Regular', '思源黑体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.horizontal_line {
  font-family:'SourceHanSansSC-Regular', '思源黑体', sans-serif;
  font-weight:400;
  font-style:normal;
}
.image2 {
  font-family:'SourceHanSansSC-Regular', '思源黑体', sans-serif;
  font-weight:400;
  font-style:normal;
}
._图片 {
  font-family:'SourceHanSansSC-Regular', '思源黑体', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
}
.shape2 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
.paragraph {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.line3 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.text_field1 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.checkbox1 {
  text-align:left;
}
.shape3 {
  font-family:'SourceHanSansSC-Regular', '思源黑体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.icon1 {
  font-family:'SourceHanSansSC-Regular', '思源黑体', sans-serif;
  font-weight:400;
  font-style:normal;
}
.shape4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.heading_31 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_1 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.primary_button1 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.ellipse1 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
}
.image3 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
}
.flow_shape2 {
}
._图片1 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.table_cell1 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.box_31 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
}
.tree_node1 {
  text-align:left;
}
.text_area1 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.text_field2 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.box_11 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
}
.paragraph1 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.icon2 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
._默认样式1 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
._形状2 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
._图片_ {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
._一级标题1 {
  font-family:'Noto Sans CJK', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._连接线 {
}
.html_button {
  text-align:center;
}
.text_link_mouse_down {
}
.text_link_mouse_over {
}
._流程形状 {
}
._图片2 {
}
textarea, select, input, button { outline: none; }
