body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u27173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:934px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u27173 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:61px;
  width:1360px;
  height:934px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u27173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u27174 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:186px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u27174 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27174_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.898039215686275);
}
#u27177 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:95px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.898039215686275);
}
#u27177 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27177_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(37, 97, 239, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27178 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:97px;
  width:6px;
  height:20px;
  display:flex;
}
#u27178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1321px;
  height:2px;
}
#u27179 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:139px;
  width:1320px;
  height:1px;
  display:flex;
}
#u27179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u27180 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:157px;
  width:1200px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:40px;
}
#u27180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27180_img.selected {
}
#u27180.selected {
}
#u27180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27181 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:206px;
  width:1200px;
  height:233px;
}
#u27182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u27182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u27182 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u27183 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:480px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u27183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u27183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u27184 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u27184 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u27185 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:480px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u27185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u27185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u27187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u27187 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u27188 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:32px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u27188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u27188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u27189 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:32px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u27189 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u27190 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:32px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u27190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u27190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u27191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u27191 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u27192 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:72px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u27192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u27192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u27194 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:72px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u27194 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u27195 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:72px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u27195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u27195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u27196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u27196 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u27197 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:112px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u27197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u27197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u27198 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:112px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u27198 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u27199 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:112px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u27199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u27199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u27200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u27200 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u27201 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:152px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#077CFE;
  text-align:left;
  line-height:28px;
}
#u27201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u27201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u27202 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:152px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u27202 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u27203 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:152px;
  width:480px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u27203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u27203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
}
#u27204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:120px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u27204 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:41px;
}
#u27205 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:192px;
  width:480px;
  height:41px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u27205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u27205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
}
#u27206 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:192px;
  width:120px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:28px;
}
#u27206 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:41px;
}
#u27207 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:192px;
  width:480px;
  height:41px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u27207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u27207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27208 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:157px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u27209 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:565px;
  width:1200px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:40px;
}
#u27209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27209_img.selected {
}
#u27209.selected {
}
#u27209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u27210 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:735px;
  width:1200px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:40px;
}
#u27210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27210_img.selected {
}
#u27210.selected {
}
#u27210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27211 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:615px;
  width:961px;
  height:92px;
}
#u27212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u27212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
}
#u27213 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:161px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u27214 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:0px;
  width:119px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u27215 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u27216 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:119px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:28px;
}
#u27217 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:0px;
  width:362px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u27218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:32px;
}
#u27219 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:28px;
  width:161px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u27219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u27221 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:28px;
  width:119px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u27221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u27222 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:28px;
  width:100px;
  height:32px;
  display:flex;
}
#u27222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u27223 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:28px;
  width:119px;
  height:32px;
  display:flex;
}
#u27223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:32px;
}
#u27224 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:28px;
  width:362px;
  height:32px;
  display:flex;
}
#u27224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u27225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:32px;
}
#u27226 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:161px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u27226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u27228 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:60px;
  width:119px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u27228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u27229 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:60px;
  width:100px;
  height:32px;
  display:flex;
}
#u27229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u27230 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:60px;
  width:119px;
  height:32px;
  display:flex;
}
#u27230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:32px;
}
#u27231 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:60px;
  width:362px;
  height:32px;
  display:flex;
}
#u27231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27232 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:796px;
  width:960px;
  height:92px;
}
#u27233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u27233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u27234 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:119px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:28px;
}
#u27235 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:0px;
  width:143px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
}
#u27236 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:0px;
  width:102px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:28px;
}
#u27237 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:0px;
  width:134px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:28px;
}
#u27238 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:0px;
  width:362px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u27239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u27240 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:28px;
  width:119px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u27240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:32px;
}
#u27241 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:28px;
  width:143px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u27241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u27242 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:28px;
  width:102px;
  height:32px;
  display:flex;
}
#u27242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
}
#u27243 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:28px;
  width:134px;
  height:32px;
  display:flex;
}
#u27243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:32px;
}
#u27244 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:28px;
  width:362px;
  height:32px;
  display:flex;
}
#u27244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u27245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u27246 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:119px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u27246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:32px;
}
#u27247 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:60px;
  width:143px;
  height:32px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u27247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u27248 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:60px;
  width:102px;
  height:32px;
  display:flex;
}
#u27248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
}
#u27249 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:60px;
  width:134px;
  height:32px;
  display:flex;
}
#u27249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:32px;
}
#u27250 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:60px;
  width:362px;
  height:32px;
  display:flex;
}
#u27250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27251 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:104px;
  width:91px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u27251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
